


<%= javascript_include_tag('home.js')%>
<section class='product-body-2'>
  <div class='center-2'>
    <div class='row'> <%# row 1%>
      <div class='col-sm-12 col-lg-6'> <%# row 1.1%>
        <div class='row'> <%# row 2%>
          <div class='col-sm-12'>
          <%= image_tag(@product.image_url, :class => 'preview-img-2')%>
          </div>
          <div class='col-sm-12'>
            <div class='row'>
              <div class='col-sm-6'>
              <%= image_tag(@product.image_url, :class => 'preview-img-3')%>
              </div>
              <div class='col-sm-6'>
              <%= image_tag(@product.image_url, :class => 'preview-img-3')%>
              </div>
            </div>
          </div>
        </div> <%# close row 2%>
      </div> <%# close row 1.1%>
      <div class='col-sm-12 col-lg-6'><%# row 1.2%>
        <div class='row'> <%# row 2%>
          <h1 class='product-name col-sm-12 col-lg-12'><%=@product.name%></h1>
            <div class='rated col-sm-3 col-lg-3' data-score="<%= @product.average_rating %>"><p>Average:</p></div>
          <div class='location col-sm-12 col-lg-12'>
            <% if (@product.location != nil) %>
              <h4> Location: <%= @product.location%></h4>
            <%end%>
          </div>
          <div class='product-description col-sm-12 col-lg-12'>
            <h4>Description:</h4>
            <%= @product.description %>
          </div>
          <div class='product-comment col-sm-12 col-lg-12'>
            <div> 
              <div class='row'>
                <h4 class='col-sm-4'>Comments:</h4>
              </div>
            </div> 
            <%= render 'comments'%>
            <%# <%= will_paginate @comments %> 
            <%#= @product.highest_rating_comment %>
            <%#= @product.lowest_rating_comment %>
            <%#= @product.comments%>
          </div>
          <div class='new_comment col-sm-12'>
            <%= render 'new_comment'%>
          </div>
        </div>
      </div>
    <%= link_to 'Go to Overview', products_path %>
  </div>
</section>